<%- include("./partials/header") %>
<%- include("./partials/chore.ejs") -%>
<link rel="stylesheet" href="/css/diagnosesData.css">
<div class="uploadData">
    <% if(issue!=null){%>
    <h2>Issue</h2>
    <p class="symtomName"><%= issue%></p>
    <%} %>
    <% articles.forEach((article)=>{ %>
        <div class="disease">
            <div id="disease_info">
            </div>
            <% if(article.products.length > 0){ %>
            <h1 class="info__text">If you have some difficulty buying stuff for remedy refer to below link</h1>
            <% article.products.forEach((data)=>{ %>
                <h1 class="product_name"><%= data.name %></h1>
                <a href="<%= data.link %>" target = "_blank" class="btn btn-primary">Buy it</a>
            <% })} %>
        </div>
        <script>
            var data = "<%- article.data %>"
            var disease_info = document.getElementById('disease_info');
            disease_info.innerHTML = data;
        </script>
     <% }) %>
</div>